//---------------------------------------------------------------------------
//
// Name:        othelloApp.rc
// Author:      LuisCastro
// Created:     27/05/2017 20:56:59
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
